language: python

# Python releases to test
python:
  - 2.6
  - 2.7
  - 3.3

# Django releases
env:
  - DJANGO_VERSION=Django==1.3.7
  - DJANGO_VERSION=Django==1.4.10
  - DJANGO_VERSION=Django==1.5.5
  - DJANGO_VERSION=Django==1.6.2

# Package installation
install:
  - pip install $DJANGO_VERSION
  - python setup.py install

# Run the tests
script:
  - python setup.py test

matrix:
    exclude:
        - python: 3.3
          env: DJANGO_VERSION=1.3.7
        - python: 3.3
          env: DJANGO_VERSION=1.4.10